<h1>BUTSUYOKU一覧だよ</h1>
<div class="items">
    <% @items.each do |item| %>
        <li class="buys">登録日：<%= item.created_at.strftime("%Y年%m月%d日") %></li>
        <li>欲しいもの : <%= item.name %></li>
        <li>金額 : <%= item.price.to_s(:delimited) %>円</li>
        <li>購入予定日：<%= item.buy_month.strftime("%Y年%m月%d日") %></li>
        <li>買う理由：<%= item.reason %></li>
        <li><%= link_to "我慢する", '/items/' + item.id.to_s, method: :delete %></li>
        <li><%= link_to "編集する", edit_item_path(item.id) %></li>
    <% end %>
</div>

<div class="sumprice">
    <p>君のBUTSUYOKU合計金額は...<span><%= @ItemsAllSum.to_s(:delimited) %></span>円だよ。</p>
    <p><%= link_to "まだ何か欲しいの？", '/' %><p>
</div>


<h2>期間検索</h2>
<div class="input_search">
    <%= search_form_for @q, url: search_items_path do |f| %>
        <%= f.date_field :buy_month_gteq,
                            class: 'form-control'%>〜
        <%= f.date_field :buy_month_lteq_end_of_day,
                            class: 'form-control' %>
        <%= f.submit "検索" , class: "btn btn-primary"%>
    <% end %>
</div>

