<ul>
    <% @items.each do |item| %>
    <br>------------------------------------------------------
        <li>欲しいもの : <%= item.name %></li>
            金額 : <%= item.price.to_s(:delimited) %>円
            <%= item.buy_month.strftime("%Y年%m月%d日") %>に買うぜ！
            <br>
            <%= link_to "我慢する", '/items/' + item.id.to_s, method: :delete %> 
    <% end %>
    <br>------------------------------------------------------
</ul>


<div class=“index”>
    <p>君の物欲合計金額は...<%= @ItemsAllSum.to_s(:delimited) %>円</p>
    <p><%= link_to "まだ何か欲しいの？", '/' %><p>
</div>  


<%= "1月に買うものは" %>
    <% if part_month_item.nil? %>
        <%= "何もないよ" %>
    <% else %>
        <% part_month_item.each do |month| %>
            <%= "#{month.name}" %>
        <% end %>
    <% end %>
    <%= "だよ。" %>

<br>
<%= "1月に買うものの合計金額は " %><%= part_month_item_sum.to_s(:delimited) %>円だよ。
<% if part_month_item_sum.to_s(:delimited) == "0" %>
    <%= "もしかして節約中？" %>
<% elsif  part_month_item_sum < 10000 %>
    <%= "貧困層は大変だねぇ（笑）" %>
<% elsif part_month_item_sum < 20000 %>
    <%= "今月の家計簿ちゃんと見た？" %>
<% elsif part_month_item_sum < 30000 %>
    <br><%= "そういえば君の財布が「もう限界」って相談しにきたけど、大丈夫？" %>
<% else %>
    <%= "貴様に買えるのか？" %>
<% end %>

<br>
<br>

<p>期間で検索する？<p>
<%= search_form_for @q, url: search_items_path do |f| %>
<%= f.date_field :buy_month_gteq,

                    class: 'form-control'%>〜
<%= f.date_field :buy_month_lteq_end_of_day, 

                    class: 'form-control'%>
<%= f.submit "検索" %>
<% end %>