<h1>BUTSUYOKU一覧</h1>
    <table>
        <thead class="index">
            <tr class="index">
                <th class="item_name">欲しいもの</th>
                <th class="item_price">金額</th>
                <th class="item_buy_month">購入予定日</th>
                <th class="item_reason">購入理由</th>
                <th></th>
                <th></th>
            <tr>
        </thead>
        <tbody class="index">
            <% @items.each do |item| %>
            <tr>
                <td class="item_name"><%= item.name %></td>
                <td class="item_price"><%= item.price.to_s(:delimited) %>円</td>
                <td class="item_buy_month"><%= item.buy_month.strftime("%Y年%m月%d日") %></td>
                <td class="item_reason"><%= item.reason %></td>
                <td class="item_gaman"><div class="gaman_buttton"><%= button_to "我慢する", item, :method => :delete, class: "btn btn-default"%></div></td>
                <td class="item_edit"><div class="edit_button"><%= button_to "編集する", edit_item_path(item.id), method: :get, class:"btn btn-default" %></div></td>
            </tr>
            <% end %>
        </tbody>
    </table>
<div class="sumprice">
    <p>あなたのBUTSUYOKU合計金額は...<span><%= @ItemsAllSum.to_s(:delimited) %>円</span>です。</p>
    <p><%= link_to "ホームに戻る", '/' %><p>
</div>

<h2>期間検索</h2>
<div class="input_search">
    <%= search_form_for @q, url: search_items_path do |f| %>
        <%= f.date_field :buy_month_gteq,
                            class: 'form-control'%>〜
        <%= f.date_field :buy_month_lteq_end_of_day,
                            class: 'form-control' %>
        <%= f.submit "検索" , class: "btn btn-default"%>
    <% end %>
</div>
</body>
