<ul>
    <% @items.each do |item| %>
        <li>欲しいもの : <%= item.name %></li>
            金額 : <%= item.price %>円
            <%= item.buy_month %>に買います  
            <%= link_to "削除", '/items/' + item.id.to_s, method: :delete %>
    <% end %>
</ul>

<div class=“index”>
    <p>君の物欲合計金額は...<%= @ItemsAllSum %>円</p>
    <p><%= link_to "まだ何か欲しいの？", '/' %><p>
</div>  


<%= search_date %>

