<div class=“center jumbotron”>
    <h1>欲望の塊め！欲しいものを入れていくがよい！</h1>
</div>

<div class="new_form">
    <%= form_with(model: @item, local: true) do |f| %>
        <%= f.label :name, '欲しいもの' %>
            <%= f.text_field :name %>   
        </div>    
        <div>
            <%= f.label :price, '金額(半角で入れてね！)' %>
            <%= f.text_field :price %>
        </div>
            <div class=“buy_month”>
                <%= f.label :買うタイミング %>
                <%= f.date_select :buy_month, {
                    use_month_numbers: true,
                    start_year: (Time.now.year),
                    end_year: 2030,
                    date_separator: '/'
                } %>
            </div>
            <%= f.submit "欲しい！", class: "btn btn-primary" %>
            <%= link_to "BUTSUYOKU一覧", index_path %>
    <% end %>
</div>

