<h1>この期間のBUTSUYOKU合計金額は…</h1>
<div class="search">
    <% @items.each do |item| %>
        <li>欲しいもの : <%= item.name %>
        <br>金額　: <%= item.price.to_s(:delimited) %>円
        <br><%= item.buy_month.strftime("%Y年%m月%d日") %>に購入
    <% end %>


    <h2><%= @ItemsAllSumOnSearch.to_s(:delimited) %>円だよ。</h2>
    <% if @ItemsAllSumOnSearch.to_s(:delimited) == "0" %>
        <%= "節約中ですか？" %>
    <% elsif @ItemsAllSumOnSearch < 10000 %>
        <%= "その調子です！" %>
    <% elsif @ItemsAllSumOnSearch < 20000 %>
        <%= "BUTSUYOKUを整理しましょう" %>
    <% elsif @ItemsAllSumOnSearch < 30000 %>
        <br><%= "節約しましょう" %>
    <% else %>
        <%= "貯金はしましたか？" %>
    <% end %>
    <br><%= link_to '戻る', index_path %>
</div>
