<h1>BUTSUYOKU詳細</h1>
<body>
  <section>
    欲しいもの　：<%= @item.name %>
    <br>金額　：<%= @item.price %>
    <br>購入するタイミング　：<%= @item.buy_month.strftime("%Y年%m月%d日") %>
    <br>購入する理由　：<%= @item.reason %>
    <br>登録した日　：<%= @item.created_at.strftime("%Y年%m月%d日") %>
  <section>
</body>
