<header class="header">
    <div class="container">
        <p class="header-logo">
            <%= link_to "/" do %>
                <%= image_tag("dentaku.png", alt: "BUTSUYOKU_logo", width: "40px", id:"image-dentaku") %>BUTSUYOKU<a href="https://qiita.com/bumpfuji10"></a>
            <% end %>
        </p>
        <nav class="gnav-list">　
            <ul class="gnav-list">
                <li class="gnav-item"><a href="#about"><%= link_to "BUTSUYOKUとは？", about_path %></li>
                <li class="gnav-item"><a href="#signup"><%= link_to "サインアップ", signup_path %></li>
                <% if logged_in? %>
                    <li class="gnav-item"><a href="#index"><%= link_to "BUTSUYOKU一覧", index_path %></li>
                    <li class="gnav-item"><a href="logout"><%= link_to "ログアウト", logout_path, method: :delete %>
                <% else %>
                    <li class="gnav-item"><a href="#login"><%= link_to "ログイン", login_path %></li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>
