<!DOCTYPE html>
<html>
  <head>
    <title>Butsuyoku</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="nav navbar">
      <%= link_to "BUTSUYOKU", '/', id: "BUTSUYOKU", class: "BUTSUYOKU" %>
      <p class=“YOKUBO”>欲望の塊め！</p>
      <p class=“YOKUBO2”>欲しいものを入れていくがよい！</p>
  </header>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
</body>
    <%= yield %>
  </body>
</html>
